<form [formGroup]="registerForma" >
    <p-card header="Registrar Miembro" [style]="{width:'360px'}">
        
        <div class="field">
            <input type="text" pInputText formControlName="fullName" placeholder="Nombre Completo" class="w-full" />
        </div>
        
        <small *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)">
            <div *ngIf="fullName.hasError('required')">Ingresa Nombre Completo</div>
            <div *ngIf="fullName.hasError('fullName')">Nombre Incorrecto</div>
        </small>
        
        <div class="field">
            <input type="text" pInputText formControlName="email" placeholder="Ingresa Email" class="w-full" />
        </div>
        
        
        <div class="field">
            <!-- <p-password formControlName="pass" [feedback]="false" placeholder="Password" styleClass="w-full"></p-password> -->
            <p-password formControlName="pass" [toggleMask]="true"></p-password>
        </div>
        
        <div class="field">
            <p-password formControlName="confirmPass" [toggleMask]="true"></p-password>
        </div>

        <div class="field">
            <p-button label="Ingresar" styleClass="w-full" ></p-button>
        </div>
        
        <div class="mt-2">
            ¿Ya tienes una cuenta? <a [routerLink]="['/login']">Ingresar</a>
        </div>
    </p-card>
</form>
